<div class="col-4 col-12-medium">
	<div id="sidebar">
		<!-- Sidebar -->
		<section>
			<header class="major">
				<h2>Добро пожаловать!</h2>
			</header>
			<p>
				Мы - команда профессионалов, которая уже более [укажите количество лет] лет создает прочные и надежные объекты, воплощая самые
				амбициозные архитектурные замыслы. Наша миссия - строить для вас комфортное и безопасное будущее, будь то жилые комплексы, коммерческая недвижимость
				или инженерные сооруженияю Мы гордимся своей репутацией и каждым проектом, в основе которого лежат качество, современные технологии и внимание к деталям.
			</p>
			<footer>
				<a asp-area="" asp-controller="Services" asp-action="Index" class="button icon solid fa-info-circle">
					Перейти к услугам
				</a>
			</footer>
		</section>
	</div>
</div>